@model RegisterDTO
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Register</h4>
        </div>
        <div class="card-body">
            <form method="post" asp-controller="Account" asp-action="Register">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input type="email" class="form-control" asp-for="Email" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input type="password" class="form-control" asp-for="Password" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="card-footer">
                   <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </form>

        </div>
    </div>
</div>

