@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-body">
        @*@await Component.InvokeAsync("AddTweet")*@
    </div>

    <div class="card-body mt-2">
        <ul class="list-group" id="TweetList"></ul>
    </div>
</div>


@section Scripts {    @*Burada "s" takısı eksik*@
    <script src="~/js/get-tweets.js"></script>
}
